mat-card{
  mat-card-title{
    align-items: center;
    color: grey;
  }
  .form-field{
    width: 100%;
  }
  mat-card-actions{
    button{
      .fa-arrow-left{
        margin-right: 1rem;
      }
      .fa-file{
        margin-left: 1rem;
      }
    }
  }
}
