#home{
  justify-content: center;
  #title{
    text-align: center;
  }
  #main{
    justify-content: center;
    text-align: center;
    #image-col{
      margin-bottom: 4px;
      #vehicle-image{
        width: 100%;
        height: auto;
        margin: 0;
        max-width: 30rem;
      }
    }
    #buttons-col{
      .row{
        justify-content: center;
        text-align: center;
        button{
          font-size: .5rem;
          width: 50%;
          max-width: 8rem;
          margin-top: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 550px){
  #home{
    #main{
      #buttons-col{
        .row{
          button{
            font-size: 0.7rem;
            margin: 1rem 1rem 0;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px){
  #home{
    #main{
      #buttons-col{
        #info{
          margin: 1rem 0 4rem;
        }
        .row{
          button{
            margin: 1rem 0.2rem 0;
          }
        }
      }
    }
  }
}
