
.container{
  font-size: large;
  background-color: white;
}
.btn-add{

  background: #e1efe6;
  color: black;
}


.row{
  height: auto;
}
.row-1{
margin-top: 20px;
}

hr{
  position: relative;
  background: black;
  height: 1px;
}
.last-hr{
  position: relative;
  background: white;
  height: 1px;
}

 .hours{
  height: 50px;
  width: 200px;
  border-radius: 16px;
}

 .comment{
   height: 100px;
   width: 600px;
 }
.btn-submit{
  border-radius: 9px;
  background-color: dodgerblue;
}
.btn-back{
  border-radius: 9px;
  border-color: gray;
  color: black;
}

.mat-button{
  margin: 3rem;
}
.form-field{
  width: 70%;
}
.card{
  align-items: center;
}

.mat-dialog-actions {

  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='start'] {
    justify-content: start;
  }
}
