$color-default: #131516;
#searchBar{
  #col{
    margin-top: 6rem;
    max-width: 25rem !important;
    #submit, #QR-Button{
        border: 1px solid $color-default;
        color: black;
        font-size: 1rem;
        cursor: pointer;
        margin: 4px;
      i{
        margin-right: 4px;
      }
    }
    #label{
      font-size: 1.3rem;
      filter: drop-shadow(2px 4px 8px $color-default)
    }
    #errorMessage{
      margin-top: 1rem;
      color: red;
    }
  }
}
