.navbar {
  width: 100%;
  background: black;
}
.navbar img{
  height: 74px;
  margin-left: 50px;
  padding: 0;
}

.nav-link {
  text-transform:uppercase;
  font-weight:bold;
  font-size: 1.25rem;
}

.nav-item {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

#myAccount{
  margin-left: 1000px;
}

@media  screen and (max-width: 375px){
  .navbar{
    width: 100%;
  }
  .navbar img{
    margin-left: 0;
  }
  .nav-link {
    font-size: 1rem;
  }
  .nav-item {
    margin-top: 0px;
    margin-left: 0px;
  }
  #myAccount{
    margin-left: 0px;
  }
}
