#navigation{
  font-size: 1.3rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  background-color: #2f2f2f;
  #logo{
    height: 4rem;
  }
  .navbar-toggler-icon{
    background-image: url("../../assets/images/toggle.png");
  }
  #navbar{
    #navbar-row-1,#navbar-row-2{
      border-radius: 25px;
      .nav-link {
        color: whitesmoke;
      }
      a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
      .active {
        text-decoration: underline;
      }
    }
    #navbar-row-2{
      background-color: #131516;
    }
  }
}

@media screen and (max-width: 320px) {
  #navigation{
    #logo{
      height: 3rem;
    }
  }
}
@media screen and (min-width: 769px) {
  #navigation{
    #logo{
      height: 5rem;
      margin-left: 2rem;
    }
  }
}
