#navigation{
  font: 1.2rem interstate, sans-serif;
  background-color: #131516;
  #logo{
    height: 4rem;
  }
  #navbar{
    #navbar-row-1,#navbar-row-2{
      .nav-link {
        color: whitesmoke;
      }
      a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
      .active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #navigation{
    #logo{
      height: 3rem;
    }
  }
}
@media screen and (min-width: 769px) {
  #navigation{
    #logo{
      height: 5rem;
    }
  }
}
