.container{
  margin-top: 1rem;
  font-size: .5rem;
  mat-label{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  #personalInfoCard {
    margin-top: 1rem;
    justify-content: center;
  }
  button {
    margin: 1rem;
    .fa-arrow-left {
      margin-right: 1rem;
    }
    .fa-file {
      margin-left: 1rem;
    }
  }
  .form-field {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    input {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 600px){
  .container{
    font-size: 1rem;
  }
}
