.footer{
  display: flex;
  background-color: black;
  height: 150px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

.footer img{
  display: flex;
  height: 74px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 0px;
}

.footer p {
  color: white;
  margin-top: 20px;
  margin-left: 100px;
  width: 300px;
  font-size: 1rem;
}

@media  screen and (max-width: 375px){
  .footer img{
    height: 60px;
    margin-top: 50px;
    margin-left: 10px;
  }

  .footer p {
    font-size: 0.5rem;
    color: white;
    margin-top: 1px;
    margin-left: 200px;
    width: 150px;
  }
}
